@charset "UTF-8";


.layerImage{
	width:					50%;
	height:					750px;
	background-image: 		url(loft_store.jpg);
	background-repeat: 		no-repeat;
	background-position: 	top center;
	-moz-background-size:	cover;
	background-size:		cover; 	
}

.layerTransparent{
	background-color:		rgba(255,255,255,0.7);
	height:					800px;
}

input#submit_button {
  background-color: deeppink;
  color: white;
  width: 130px;
  font-size: 25px;
  font-family: oswald;
  border-radius: 8px;
  box-shadow: 0px 8px 0px purple;
  margin-left: 15px;
}

input#submit_button:hover {
  box-shadow: 0px 0px 0px;
  transform: translate(0px, 8px);
}

/*
* お店
*/

ul.image_list li {
  /* liが横並びになるようにします。 */
  display: inline-block;
  border-style: ridge;
  border-color: white;
  width: 200px;
  height: 150px;
  margin: 10px;
  padding: 30px;
  float: left;
  border-radius: 30px;
}
ul.image_list li .image_box {
  width: 200px;
  height: 200px;
  text-align:center;
  /* チェックボックスの親要素にrelativeを指定しておきます。 */
  position: relative;
}
.image_box img.thumbnail {
  /*width: 100%;
  height: 100%;*/
  /* 画像にカーソルを合わせたときに、
  カーソルが指のマークになるようにします。 */
  cursor: pointer;
}
.image_box img.thumbnail.checked {
  /* チェックが入った状態だと、枠が表示されるようにします。 */
  border: 6px solid blue;
  /* 線をwidthとheightに含めるようにします。 */
  box-sizing: border-box;
}
.image_box .disabled_checkbox {
  /* チェックボックスの位置は絶対位置にします。 */
  position: absolute;
  /* チェックボックスは、親要素の右上から12pxの位置に配置します。 */
  top: 12px;
  right: 12px;
  /* チェック前は非表示にしておきます。 */
  display: none;
  /* チェックボックスを大きくします。 */
  transform: scale(2);
  /* チェックボックスにカーソルを合わせたときに、
  カーソルが指のマークになるようにします。 */
  cursor: pointer;
}
.image_box img.thumbnail.checked + .disabled_checkbox {
  /* 画像にcheckedクラスが指定されたときは、
  チェックボックスの非表示を解除します。 */
  display: block;
}

/*
* 部屋
*/
.drag-and-drop {
    cursor: move;
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}

.example li{
  display: inline;
  float: left;
  list-style: none;
  margin : 70px;
  /* margin-right : 80px; */
}